div.card-custom.text-left.mb-2
    div.row.card-comment
        - if(review.sender.toString() !== visitor._id.toString())
            div #{review.comment}
        - else
            div(style="padding: 0rem 2rem 0rem 0rem; width: 100%") #{review.comment}
            div.edit-block
                div(value = review.id id = 'my-post').fa.fa-edit

    div.row.card-details.align-items-start
        div.col-2.col-md-1.col-lg-1.col-sm-1.mr-5.mr-xl-5.mr-lg-5.mr-md-5.mr-sm-5
            div.fa.fa-user-circle(style = `font-size: 80px; color: ${getRandomColor()};`)

        div.col-5.col-md-7.col-xl-7.col-lg-6.col-sm-6
            -
                function getRandomColor() {
                    var letters = '0123456789ABCDEF';
                    var color = '#';
                    for (let i = 0; i < 6; i++) {
                        color += letters[Math.floor(Math.random() * 12)];
                    }
                    return color;
                }

                var date = new Date(review.createdAt);
                const difference = (new Date().getTime()) - date;
                const mo = new Intl.DateTimeFormat('en', { month: 'short' }).format(date);
                const da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(date);

                var time = 'sec';
                date = Math.round(difference / (1000));

                if(date >= 60) {
                    date = Math.round(difference / (1000 * 60));
                    time = 'min';

                    if(date >= 60) {
                        date = Math.round(difference / (1000 * 3600));
                        time = 'hours';

                        if(date >= 24) {
                            date = Math.round(difference / (1000 * 3600 * 24));
                            time = 'days';
                        }
                    }
                }

            div.card-title #{review.name} #{" "}
                div.card-date #{`${mo} ${da}`} • #{date} #{time} ago


            if review.rating === 0
                span.fa.fa-ban(style = "color: red")
            else
                - for(var i = 0; i < 5; i++)
                    if(review.rating > i)
                        span.fa.fa-star(style = "color: orange")
                    else
                        span.fa.fa-star-o(style = "color: orange")

        div#like-block.row
            span.likes(value=review.likes) #{review.likes} Likes #{"  "}
                div(id = review.id).fa.fa-lg.fa-heart-o.card-like
